<% content_for(:title, t('.title')) %>
<div class="container">
  <h1><%= t '.title' %></h1>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <!-- 検索フォーム -->
      <%= render 'search_form', url: admin_boards_path %>
    </div>
  </div>
  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col"><%= t(Board.human_attribute_name(:title)) %></th>
            <th scope="col"><%= t(Board.human_attribute_name(:created_user)) %></th>
            <th scope="col"><%= t(Board.human_attribute_name(:created_at)) %></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <%= render @boards %>
      </table>
      <!-- ページネーション -->
    </div>
  </div>
</div>
