<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>掲示板作成</h1>
      <%= form_with model:@board, local:true, class:"new_board" do |form| %>
        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title, class:"form-control", type:"text", name:"board[title]", id:"board_title" %>
        </div>
        <div class="form-group">
          <%= form.label :body %>
          <%= form.text_area :body, class:"form-control", row:"10", style:"height: 200px", name:"board[body]", id:"board_body" %>
        </div>
        <%= form.submit '登録する', name:"commit", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
