<% content_for(:title, t('.title')) %>
<div class="container">
  <h1><%= t '.title' %></h1>
  <!-- User一覧 -->
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col"><%= t(User.human_attribute_name(:full_name)) %></th>
            <th scope="col"><%= t(User.human_attribute_name(:role)) %></th>
            <th scope="col"><%= t(User.human_attribute_name(:created_at)) %></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <%= render @users %>
      </table>
    </div>
  </div>
</div>
